# Server Configuration
PORT=3001

# Database Configuration
# Format: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
MONGODB_URL=mongodb+srv://user:password@cluster.mongodb.net/ev_app
